[submodule "NoMount"]
	path = NoMount
	url = https://github.com/maxsteeel/nomount
	branch = dev
[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/backslashxx/KernelSU.git
	branch = master
