# KernelSU
CONFIG_KSU=y
CONFIG_KPROBES=n
CONFIG_KSU_TAMPER_SYSCALL_TABLE=y

# mountify
CONFIG_OVERLAY_FS=y
CONFIG_TMPFS_XATTR=y

# nomount
CONFIG_NOMOUNT=y

# bbg
CONFIG_BBG=y

# wireguard
CONFIG_WIREGUARD=y

# customizations
CONFIG_LOCALVERSION_AUTO=n
CONFIG_LOCALVERSION="-Lunar+"
CONFIG_DEFAULT_HOSTNAME="a04e"

# Disable Samsung Securities
CONFIG_SECURITY_DEFEX=n

# Loadable Kernel Module support
CONFIG_MODULES=y
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_MODULE_UNLOAD=y
CONFIG_MODULE_FORCE_UNLOAD=y
CONFIG_MODVERSIONS=y
CONFIG_MODULE_SRCVERSION_ALL=n
CONFIG_MODULE_SIG=n
CONFIG_MODULE_COMPRESS=n
CONFIG_TRIM_UNUSED_KSYMS=n

# Governers
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y

# Io schedulers
CONFIG_IOSCHED_BFQ=y
CONFIG_CGROUP_BFQIO=y

# networking
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_BBR=y
CONFIG_NET_SCH_FQ_CODEL=y
CONFIG_NET_SCH_CAKE=y
CONFIG_NET_SCH_DEFAULT=y
CONFIG_DEFAULT_FQ_CODEL=y

# Performance
CONFIG_HZ_250=n
CONFIG_HZ_300=y
CONFIG_HZ=300
CONFIG_CC_OPTIMIZE_FOR_SIZE=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
